<div class="container">
	<div class="row">
		<div class="col s12 m4">
			<a href='https://www.freepik.com/free-vector/e-business-background-design_1076092.htm' target="_blank">
				<img src="assets/imagenes/software.jpg" alt="potencia tu identidad corporativa" width="100%">
			</a>

			<ul class="collection with-header">
				<li class="collection-header green lighten-3"><h6>Utilizamos los motores de bases de datos más potentes del mercado:</h6></li>
				<li class="collection-item">Microsoft SQL Server</li>
				<li class="collection-item">MySQL</li>
				<li class="collection-item">PostgreSQL</li>
			</ul>
		</div>
		<div class="col s12 m8">

			<blockquote class="center cita azul white-text">"La mejor forma de predecir el futuro es inventarlo. "<cite> - Steve Jobs.</cite></blockquote>

			<h4>La solución informática ideal para su organización.</h4>

			<hr>

			
			<p>En <b>ALCRISOFT S.L.</b> creemos que la tecnología es la herramienta clave para la promoción y el fortalecimiento de las organizaciones empresariales. Por ello, cada día nos esforzamos por encontrar soluciones informáticas orientadas a la mejora de los procesos productivos.
			Nuestro equipo de profesionales gestiona aplicaciones para plataformas Windows y Linux, cumpliendo de esta manera con cualquier necesidad del cliente.</p>

			<ul class="collection with-header">
				<li class="collection-header orange lighten-3"><h6 class="center">Dentro de nuestras aplicaciones podrá encontrar:</h6></li>
				<li class="collection-item">Desarrollo de software a medida para la gestión diaria de la empresa.</li>
				<li class="collection-item">Boletines (Newsletters) personalizados.</li>
				<li class="collection-item">Planificación de recursos empresariales mediante ERP.</li>
				<li class="collection-item">Sistemas de Gestión de Contenidos (CMS).</li>
				<li class="collection-item">Actividades de mantenimiento, actualizaciones, copias de seguridad y soporte técnico.</li>
			</ul>
			<table class="centered">
				<thead>
					<tr>
						<th colspan="3" class="grey lighten-3 center">Realizamos aplicaciones a medida mediante:</th>
					</tr>
				</thead>

				<tbody>
					<tr>
					<td>PHP</td>
					<td>Flash</td>
					<td>Perl</td>
					</tr>
					<tr>
					<td>ASP</td>
					<td>Visual Basic</td>
					<td>Python</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
