body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
 }

.verde {
  background: #dae14a !important;
}

.azul {
  background: #294D90 !important;
}

.linea {
  width: 80%;
}
