
    <header>
        <nav class="verde">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo"><img src="./assets/imagenes/logotipo.svg" alt="Alcrisoft" width="90%"></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a routerLink="inicio" class="btn orange darken-3"><i class="material-icons left">home</i>Inicio</a></li>
                        <li><a routerLink="soporte" class="btn orange darken-3"><i class="material-icons left">school</i>Soporte a la Formación</a></li>
                        <li><a class="btn orange darken-3" routerLink="software"><i class="material-icons left">save</i>Software</a></li>
                        <li><a class="btn orange darken-3" routerLink="servicios"><i class="material-icons left">language</i>Servicios Web</a></li>
                    </ul>
                </div>
            </div>   
        </nav>
            
        <ul class="sidenav" id="mobile-demo">
            <li><a routerLink="inicio">Inicio</a></li>
            <li><a routerLink="soporte">Soporte a la formación</a></li>
            <li><a routerLink="software">Software</a></li>
            <li><a routerLink="servicios">Servicios Web</a></li>
        </ul>
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>


    <footer class="page-footer docs-footer orange lighten-2">
        <div class="container">
            <div class="footer-copyright transparent black-text">
                © 2010-2018 Alcrisoft. S.L. Todos los derechos reservados.
                <a class="grey-text text-darken-1 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
            </div>
        </div>
    </footer>

    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
    <script src="assets/javascript/main.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    

