  <div class="container">
  <div class="row">
  <div class="col s12 m8">
  
    <h4><i class="material-icons left">contacts</i> Las Tecnologías de la Información y la Comunicación al servicio de la empresa</h4>
    <p><b>ALCRISOFT S.L.</b> es una empresa de base tecnológica que dirige sus esfuerzos hacia la creación de soluciones basadas en TIC y orientadas a la formación,
        la comunicación Web y la presencia en medios online.</p>
  
    <p>A través de un equipo multidisciplinar de expertos en tecnologías educativas, servicios informáticos y de comunicación y marketing online
        desarrollamos proyectos innovadores que facilitan a las entidades empresariales su presencia y posicionamiento en Internet,
        la gestión total o parcial de los procesos de su organización mediante herramientas informáticas ad hoc, o el soporte y
        acondicionamiento necesario para la formación de sus trabajadores a través de entornos virtuales de aprendizaje colaborativo.</p>
            
    <p>Somos especialistas en el desarrollo de herramientas informáticas personalizadas y en la integración de sistemas,
        así como en el diseño, la comunicación Web y el desarrollo e implementación de contenidos en formatos digitales
        (portales, web, banners,plataformas de teleformación, etc.)</p>
  </div>
  <div class="col s12 m4 center">
    <img src="assets/imagenes/logotipo-verde.svg" alt="Logotipo de la página principal" />
    <figcaption>Soluciones integrales basadas en TIC</figcaption>
    <hr class="linea" />
    <p><a href="#" class="btn btn-large center azul">958 80 40 93 <i class="material-icons left">phone</i></a>
    <p><a href="" class="btn pink waves-effect waves-light btn-large">
        <span>info@alcrisoft.com</span>
        <i class="material-icons right">email</i>
    </a></p>
  </div>
  </div>
  </div>
