  <div class="container">
    <div class="row">
        <div class="col s12 m8">
            <p class="flow-text center-align cuadro azul white-text z-depth-4">
                <b>Alcrisoft</b> desarrolla entornos virtuales de formación personalizados
                para potenciar la identidad corporativa de su empresa u organización.
            </p>

            <h4><i class="material-icons left laptop">laptop</i>Especialistas en gestión y administración de campus virtuales</h4>
            <hr class="linea">
            <p>Somos expertos consultores dedicados al desarrollo, implantación, personalización y gestión activa de <a href="https://es.wikipedia.org/wiki/Sistema_de_gesti%C3%B3n_de_aprendizaje" target="_blank">plataformas de formación 
                online</a> bajo tecnología Open Source (LMS-Moodle).</p>
            <p>A través de nuestro equipo de expertos programadores llevamos a cabo la instalación, el hosting, la personalización y la gestión 
                administrativa de plataformas de formación, ofreciendo a nuestros clientes la posibilidad de gestionarlas directamente a través 
                de un sencillo panel de administración.</p>
            <p>Prestamos asistencia online para que el desarrollo e implementación de la plataforma se produzca de manera satisfactoria.</p>
        </div>
        <div class="col s12 m4 center-align e-learning">
                <a href='https://www.freepik.com/free-vector/e-business-background-design_1076092.htm' target="_blank"><img src="assets/imagenes/formacion.jpg" alt="potencia tu identidad corporativa" width="100%"></a>
        </div>
    </div>

    <div class="row ">
        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center"><img src="assets/imagenes/logo-moodle.png"/></div>
            <h5 class="center">Moodle, Sistema de Gestión de aprendizaje</h5>

            <p class="light">Desarrolla tu propio sistema de gestión de aprendizaje, crea fácilmente cursos de enseñanza online 
                    con moodle, desarrolla una comunidad con tus alumnos para que intereactúen entre ellos y con el profesorado. 
                    Accesible desde el móvil.</p>
            </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center"><img src="assets/imagenes/logo-ilias.svg"/></div>
            <h5 class="center">ILIAS, estándar <a href="https://es.wikipedia.org/wiki/SCORM" target="_blank">SCORM</a></h5>

            <p class="light">Recomendado por su versatilidad, opciones de personalización, escalabilidad y diseño responsive que 
                hace que funcione en cualquier dispositivo. Temas, módulos de aprendizaje, tipos de usuario... Gran flexibilidad en 
                el número de usuarios, desde unos pocos hasta miles.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center"><img src="assets/imagenes/logo-forma.png"/></div>
            <h5 class="center">Forma, centrado en la formación online</h5>

            <p class="light">Permite a los profesores controlar cada aspecto de un curso, incluida la asistencia, 
                la ubicación para cada reunión de formación en línea ó la programación de eventos con su función de calendario.</p>
          </div>
        </div>
      </div>
  </div>
