<div class="card blue-grey darken-1 slide">
	<div class="container center separacion">
		<span class="frase cita white-text">"Con internet nace un nuevo concepto de tiempo, de espacio, de comunicación y de acercamiento."</span>

		<div class="carousel">
			<a class="carousel-item" href=""><img src="assets/imagenes/seo.webp"></a>
			<a class="carousel-item" href="#"><img src="assets/imagenes/branding.jpg"></a>
			<a class="carousel-item" href="#"><img src="assets/imagenes/design.jpg"></a>
			<a class="carousel-item" href="#"><img src="assets/imagenes/marketing.jpg"></a>
		</div>
		<div class="card-action">
			<a href="#">SEO</a>
			<a href="#">BRANDING</a>
			<a href="#">DISEÑO WEB</a>
			<a href="#">MARKETING</a>
		</div>
	</div>
</div>
<div class="row container">
	<h4 class="center">¿Necesita presencia y promoción en Internet?</h4>
	<hr>

	<div class="col s12 m2 center">
		<i class="material-icons pink-text promo">public</i>
	</div>
	<div class="col s12 m10">
		<p>
			Nuestro equipo de profesionales en Marketing y Nuevas Tecnologías está dispuesto a confeccionarle una campaña sólida, 
			creíble y rentable para promocionar su negocio ó actividad a través de Internet.
		</p>
			El asesoramiento de nuestro equipo incluye la elección de un dominio para su actividad profesional, el registro y 
			mantenimiento del mismo, la estructura y objetivos de su Web, el alojamiento en servidores seguros, la elaboración 
			de informes de tráfico Web, el posicionamiento de su negocio en los principales buscadores, etc. Todo ello desde el 
			análisis previo de sus necesidades, para optimizar nuestro trabajo y, por supuesto, rentabilizar el suyo.
		<p>
			No dude en contactar con nosotros. Podemos ayudarle a promocionar su negocio.
		</p>
	

			<p><i class="material-icons left">arrow_forward</i> Elección y registro de dominios (.com, .es, .net, .edu, ...).</p>
			<p><i class="material-icons left">arrow_forward</i> Alojamiento Web en servidores Windows y Linux con distintas capacidades.</p>
			<p><i class="material-icons left">arrow_forward</i> Campañas de Posicionamiento Web (SEO)</p>
			<p><i class="material-icons left">arrow_forward</i> Desarrollo de Portales Corporativos, Web promocionales, Blog de empresa...</p>
	</div>
</div>
