<div class="slider">
  <ul class="slides">
    <li>
      <img src="assets/imagenes/slide1.jpg">
      <div class="caption center-align">
          <h3>Personalizamos y gestionamos entornos virtuales de formación basados en tecnología Open Source</h3>
          <h5 class="light grey-text text-lighten-3">Nuestro desarrollo incluye la personalización, gestión y administración de entornos virtuales de formación a distintos niveles en función de las necesidades del usuario final.</h5>
          <a class="btn azul" href="soporte">LEER MÁS</a>
      </div>
    </li>
    <li>
        <img src="assets/imagenes/slide2.jpg">
      <div class="caption left-align">
          <h3>Desarrollamos Software a medida de sus necesidades, sin elementos adicionales innecesarios, sólo lo que necesita cuando lo necesita.</h3>
          <h5 class="light grey-text text-lighten-3">En <b>Alcrisoft</b>, nuestro equipo de profesionales analiza cada una de las peticiones del cliente para elaborar un mapa estructural que soportará la herramienta desarrollada.</h5>
          <a class="btn azul" href="software">MÁS INFORMACIÓN</a>
      </div>
    </li>
    <li>
        <img src="assets/imagenes/slide3.jpg">
      <div class="caption right-align">
          <h3>Registro de Dominios, Alojamiento Web, Posicionamiento SEO, Web Corporativas...</h3>
          <h5 class="light grey-text text-lighten-3"><b>Alcrisoft</b> le ofrece soluciones informáticas integrales para la comunicación Web, desde la adquisición y mantenimiento de su dominio al desarrollo y alojamiento de una web corporativa totalmente personalizada.</h5>
          <a class="btn azul" href="servicios">MÁS INFORMACIÓN</a>
      </div>
    </li>
  </ul>
</div>

<div class="container">
<div class="row">
<div class="col s12 m8">

  <h4><i class="material-icons left">contacts</i> Las Tecnologías de la Información y la Comunicación al servicio de la empresa</h4>
  <p><b>ALCRISOFT S.L.</b> es una empresa de base tecnológica que dirige sus esfuerzos hacia la creación de soluciones basadas en TIC y orientadas a la formación,
      la comunicación Web y la presencia en medios online.</p>

  <p>A través de un equipo multidisciplinar de expertos en tecnologías educativas, servicios informáticos y de comunicación y marketing online
      desarrollamos proyectos innovadores que facilitan a las entidades empresariales su presencia y posicionamiento en Internet,
      la gestión total o parcial de los procesos de su organización mediante herramientas informáticas ad hoc, o el soporte y
      acondicionamiento necesario para la formación de sus trabajadores a través de entornos virtuales de aprendizaje colaborativo.</p>
          
  <p>Somos especialistas en el desarrollo de herramientas informáticas personalizadas y en la integración de sistemas,
      así como en el diseño, la comunicación Web y el desarrollo e implementación de contenidos en formatos digitales
      (portales, web, banners,plataformas de teleformación, etc.)</p>
</div>
<div class="col s12 m4 center">
  <img src="assets/imagenes/logotipo-verde.svg" alt="Logotipo de la página principal" />
  <figcaption>Soluciones integrales basadas en TIC</figcaption>
  <hr class="linea" />
  <p><a href="tel:+958804093" class="btn btn-large center azul">958 80 40 93 <i class="material-icons left">phone</i></a></p>
  <p><a href="mailto:info@alcrisoft.com" class="btn pink waves-effect waves-light btn-large">
      <span>info@alcrisoft.com</span>
      <i class="material-icons right">email</i>
  </a></p>
  <p><a class="waves-effect waves-light btn modal-trigger lime darken-1 btn-large"  href="#modal1">Dónde Estamos<i class="material-icons left pink-text">location_on</i></a></p>
  
  <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <iframe src="https://www.google.com/maps/d/embed?mid=16S4PcqoFSif6OZagloz1FDzzGLnA3MGR&z=16" width="100%" height="90%"></iframe>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
      </div>
</div>
</div>
</div>